  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative; // Set relative position initially
    background-color: rgba(214, 214, 214, 0.233);
    height: 10vh;
    transition: .5s ease-in-out;
    // background-color: var(--bgColor);



    .nav-left {
      flex: 1;
      max-width: 30%;

      img {
        max-width: 30%;
        /* Make the logo responsive */
        height: auto;
        /* Maintain aspect ratio */
        display: block;
        /* Remove extra space below the image */

      }
    }

    .nav-right {
      flex: 1;
      max-width: 70%;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: .65rem;

      i {
        font-size: .7rem;

      }

      .login {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem;
        }

        a {

          padding: .5rem .8rem .5rem 0;



        }


        &:hover {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }

        }

      }


      .mode {
        // padding:.1rem .8rem;
        border: 1px solid black;
        border-radius: 1rem;
        position: relative;
        height: 1rem;
        width: 2.5rem;
        padding: .3rem .6rem;

        .sun {
          position: absolute;

          top: 50%;

          left: 25%;
          transform: translate(-50%, -50%);




        }

        .moon {
          position: absolute;

          top: 50%;

          right: 0;
          transform: translate(-50%, -50%);



        }
      }

      .signup {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem;
        }

        a {

          padding: .5rem .8rem .5rem 0;



        }


        &:hover {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }

        }


      }

      .my-conversations {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem;
        }

        a {

          padding: .5rem .8rem .5rem 0;



        }


        &:hover {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }
        }

        &.active {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }


        }

      }


      .my-appointments {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem;
        }

        a {

          padding: .5rem .8rem .5rem 0;



        }


        &:hover {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }
        }

        &.active {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }


        }

      }

      .add-property {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem;
        }

        a {

          padding: .5rem .8rem .5rem 0;



        }


        &:hover {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }
        }

        &.active {
          background-color: rgb(21, 21, 21);

          i {
            opacity: 1;
            color: white;
          }

          a {

            color: white;

          }


        }
      }

      a {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: .3rem;

        .image {
          border: 1.5px solid #5f50be8f;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            padding: .2rem;
            height: 100%;
            width: 100%;
            border-radius: 50%;



          }
        }

        .name {
          color: #5f50be;
      

        }
      }

      .menu {
        border-radius: 1rem;
        padding: .2rem;
        transition: .2s ease-in-out;

        i {
          opacity: 0;
          padding: .5rem
        }

        a {
          padding: .5rem .8rem .5rem 0;
        }

        &:hover {
          i {
            opacity: 1;
            color: white;
          }

          a {
            color: white;
          }

          background-color: rgb(21, 21, 21);
        }

        .menu-button {
          cursor: pointer;
          color: #333;
          /* Change color as needed */



        }

        .dropdown {

          background-color: #fff;
          /* Change background color as needed */
          display: none;
          border: 1px solid #ccc;
          /* Add borders or adjust as needed */
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          /* Add box shadow or adjust as needed */

          button {
            width: 100%;
            /* Make buttons full-width or adjust as needed */
            text-align: left;
            /* Align text to the left or adjust as needed */

            div {
              padding: 8px;
              /* Add padding to the inner div or adjust as needed */
            }

            span {
              display: block;
              padding: 8px;
              /* Add padding to the span or adjust as needed */
              color: #333;
              /* Change color as needed */
              cursor: pointer;

              &:hover {
                background-color: #f0f0f0;
                /* Add hover background color or adjust as needed */
              }
            }
          }
        }
      }

    }



  }

  .light-theme {
    color: black;


    &:hover {
      // Add styles for hover in light theme
    }
  }

  .dark-theme {
    color: white !important;



  }





  @media screen and (max-width: 900px) {
    .navbar-container {
      position: fixed;
      bottom: 0;
      z-index: 100;
    
   
    
    }

    .navbar-container .nav-left {
      max-width: 10%;

      img {
        max-width: 100%;
      }

    }

    .navbar-container .nav-right {
      max-width: 90%;
      font-size: .5rem;

    }
  }

  /* Media query for screens with a maximum width of 600px */
  @media screen and (max-width: 900px) {
   
    .navbar-container {
      position: fixed;
      bottom: 0;
      z-index: 100;
      width: 100%;
      padding: 1.5rem !important;
      margin: 0 !important;

    }


    .navbar-container .nav-right {
      width: 100%;
      padding: .2rem;

    }

    .navbar-container .nav-left {

      display: none;
    }

    .navbar-container .nav-right {
      justify-content: space-between;

      align-items: stretch;


      .profile {
        display: none;
      }

      a {
        display: none;
      }


      div:hover {
        background-color: rgba(35, 35, 35, 0.089) !important;

        i {
          color: black !important;
        }
      }

      .my-conversations{
        i {
          color: black !important;
          opacity: 1 !important;
          font-size: 1.2rem !important;
        }

        &:hover {
          background-color: rgba(35, 35, 35, 0.089) !important;
        }

        &.active {
          background-color: rgba(35, 35, 35, 0.089) !important;




        }
      }

      .my-appointments{
        display: none;
        
      }


      .menu i {
        opacity: 1;
        color: rgb(0, 0, 0);
        font-size: 1.2rem !important;
      }

      .add-property {
        background-color: transparent;
        i {
          color: black !important;
          opacity: 1 !important;
          font-size: 1.2rem !important;
        }

        &:hover {
          background-color: rgba(35, 35, 35, 0.089) !important;
        }

        &.active {
          background-color: rgba(35, 35, 35, 0.089) !important;


        }

      }


      .signup {

        i {
          color: black !important;
          opacity: 1 !important;
          font-size: 1.2rem !important;
        }

        &:hover {
          background-color: rgba(35, 35, 35, 0.089) !important;
        }

      }

      .login {

        i {
          color: black !important;
          opacity: 1 !important;
          font-size: 1.2rem !important;

        }

        &:hover {
          background-color: rgba(35, 35, 35, 0.089) !important;
        }
      }

      .mode {
        display: none;
      }


    }
  }