.no-notifications {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', sans-serif;
  flex-direction: column;
  transition: .5s ease-in-out;
  gap: 1rem;

  p {
    font-size: 2rem;
  }

  i {
    font-size: 3rem;
    animation: rotate infinite 5s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

}


.list-notifications-container {
  padding: 1rem 3rem;
  min-height: 90vh;


  font-family: 'Jost', sans-serif;

  gap: 1rem;

  .heading {
    font-size: 2rem;
    margin: 3rem 0;
    width: max-content;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: .6rem;
  }
}



@media screen and (max-width: 900px) {
  .no-notifications {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  .no-notifications p {
    font-size: 1rem;
  }

  .no-notifications i {
    font-size: 2rem;
    animation: rotate infinite 2s;
  }
}





.arrow {
  padding: 1rem;
  transition: .5s ease-in-out;

  &:hover {
    color: #4636b116;
  }
}