.arrow {
  padding: 1rem 0 0 1rem;
  transition: 0.5s ease-in-out;
}
.arrow:hover {
  color: rgba(70, 54, 177, 0.0862745098);
}

.details-container {
  padding: 1rem !important;
  font-family: "Jost", sans-serif;
  transition: 0.5s ease-in-out;
}
.details-container .arrow {
  margin-top: 3rem !important;
}
.details-container .arrow i {
  font-size: 1rem;
}
.details-container .carousel {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 0.2rem;
  margin: 1rem 0 0 0;
}
.details-container .carousel .image {
  position: relative;
  width: 100%;
  height: 60vh;
}
.details-container .carousel .image button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 4rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(94, 74, 227, 0.418);
  z-index: 1;
}
.details-container .carousel .image .prev {
  left: 15px;
}
.details-container .carousel .image .next {
  right: 15px;
}
.details-container .carousel .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.2rem;
  transition: opacity 0.2s ease-in-out;
}
.details-container .carousel .image img.transitioning {
  opacity: 0.8;
}
.details-container .carousel .small-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
}
.details-container .carousel .small-images img {
  width: 100%;
  height: 30vh;
}
.details-container .details-main {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.details-container .details-main .details-center {
  width: 80%;
}
.details-container .details-main .details-center .heading {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.details-container .details-main .details-center .heading .title {
  font-size: 3.5rem;
  font-weight: bold;
}
.details-container .details-main .details-center .heading .sub-title {
  font-size: 1.2rem;
  color: grey;
}
.details-container .details-main .details-center .heading .sub-title .location {
  font-size: 0.8rem;
}
.details-container .details-main .details-center .other-details {
  margin: 1rem 0 0 0;
  display: flex;
  gap: 4rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.details-container .details-main .details-center .other-details div .label {
  font-size: 0.8rem;
  color: grey;
}
.details-container .details-main .details-center .other-details div .value {
  font-size: 1.1rem;
  font-weight: bold;
}
.details-container .details-main .details-center .other-details .rent {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  color: purple;
}
.details-container .details-main .details-center .main-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem 0;
}
.details-container .details-main .details-center .main-details .overview {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 0.2rem;
}
.details-container .details-main .details-center .main-details .overview .heading {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 0.6rem 0;
  border-bottom: 1px solid black;
}
.details-container .details-main .details-center .main-details .overview .overview-container {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-container .details-main .details-center .main-details .overview .overview-container .left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-container .details-main .details-center .main-details .overview .overview-container .left i {
  font-size: 1.1rem;
  color: gray;
}
.details-container .details-main .details-center .main-details .overview .overview-container .left .left-2 {
  font-weight: bold;
}
.details-container .details-main .details-center .main-details .overview .overview-container .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.details-container .details-main .details-center .main-details .overview .overview-container .right i {
  font-size: 1.1rem;
  color: gray;
}
.details-container .details-main .details-center .main-details .overview .overview-container .right .right-2 {
  font-weight: bold;
}
.details-container .details-main .details-center .main-details .contact {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1.5rem;
}
.details-container .details-main .details-center .main-details .contact div button {
  border-radius: 0.2rem;
  width: 100%;
  padding: 0.4rem 0;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: 0.2s ease-in-out;
}
.details-container .details-main .details-center .main-details .contact div button:hover {
  background-color: rgb(65, 65, 65);
}
.details-container .details-main .details-center .rent-payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 5rem 0;
  gap: 0.5rem;
}
.details-container .details-main .details-center .rent-payment p {
  font-size: 1.5rem;
}
.details-container .details-main .details-center .rent-payment button {
  padding: 0.6rem 2rem;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  outline: none;
  background-color: #5d4dc7;
  transition: 0.2s ease-in-out;
  color: white;
}
.details-container .details-main .details-center .rent-payment button:hover {
  background-color: #3621c5;
}
.details-container .details-main .reviews {
  margin: 2rem 0 0 0;
  padding: 2rem 0 0 0;
  background-color: black;
  width: 100%;
}
.details-container .details-main .reviews p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: white;
}
.details-container .details-main .reviews .your-review {
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: rgb(0, 0, 0) 353;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: none;
  outline: none;
}
.details-container .details-main .reviews .your-review .form-group {
  margin-bottom: 1.5rem;
  color: white;
  width: 100%;
}
.details-container .details-main .reviews .your-review .form-group label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.details-container .details-main .reviews .your-review .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1rem;
  line-height: 1.5;
  transition: 0.4s ease-in-out;
  color: rgb(176, 110, 206);
}
.details-container .details-main .reviews .your-review button {
  background-color: rgb(199, 29, 23);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}
.details-container .details-main .reviews .your-review button:hover {
  background-color: rgb(160, 29, 25);
}
.details-container .details-main .reviews .user-reviews {
  margin: 2rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 2rem 0 2rem;
  gap: 1rem;
}
.details-container .details-main .reviews .user-reviews .review-card {
  background-color: rgb(22, 22, 65);
  width: 100;
  color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  transition: 0.2s ease-in-out;
  border: 2px solid black;
}
.details-container .details-main .reviews .user-reviews .review-card:hover {
  border: 2px solid rgb(24, 24, 168);
}
.details-container .details-main .reviews .user-reviews .review-card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-container .details-main .reviews .user-reviews .review-card .top .left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.details-container .details-main .reviews .user-reviews .review-card .top .left .image img {
  width: 40px;
  height: 40px;
}
.details-container .details-main .reviews .user-reviews .review-card .top .right {
  display: flex;
  gap: 2px;
}
.details-container .details-main .reviews .user-reviews .review-card .top .right i {
  font-size: 0.81rem;
  color: rgb(243, 201, 13);
}
.details-container .details-main .reviews .user-reviews .review-card .bottom p {
  text-align: start;
  font-size: 0.8rem;
  margin: 1rem 0 0 0;
  font-weight: lighter;
  color: white;
}

/* Mobile Screens with a width of 900px */
@media only screen and (max-width: 900px) {
  .details-container {
    padding: 0;
  }
  .details-container .carousel {
    grid-template-columns: 1fr; /* Adjust column layout for smaller screens */
    gap: 0.2rem;
    height: min-height;
  }
  .details-container .carousel .image {
    height: 200px;
  }
  .details-container .carousel .image img {
    height: 100%;
  }
  .details-container .carousel .image .prev {
    left: 5px;
  }
  .details-container .carousel .image .next {
    right: 5px;
  }
  .details-container .carousel .small-images {
    display: none;
  }
  .details-container .details-main .details-center .heading .title {
    font-size: 2rem;
  }
  .details-container .details-main .details-center .heading .sub-title {
    font-size: 1rem;
  }
  .details-container .details-main .details-center .other-details {
    gap: 2rem;
  }
  .details-container .details-main .details-center .other-details .rent {
    font-size: 1.2rem;
  }
  .details-container .details-main .details-center .main-details {
    grid-template-columns: 1fr;
  }
  .details-container .details-main .details-center .main-details .overview {
    margin: 0 0 2rem 0;
  }
  .details-container .details-main .details-center .main-details .overview .overview-container {
    grid-template-columns: 1fr;
  }
  .details-container .details-main .details-center .main-details .overview .overview-container div .left-2, .details-container .details-main .details-center .main-details .overview .overview-container .right-2 {
    text-align: center;
  }
  .details-container .details-main .details-center .rent-payment {
    align-items: center !important;
    margin: 3rem 0;
  }
  .details-container .details-main .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 5rem 0;
  }
  .details-container .details-main .reviews .your-review {
    padding: 1rem;
    width: 100%;
    padding: 0 1rem;
  }
  .details-container .details-main .reviews .user-reviews {
    grid-template-columns: 1fr; /* Adjust column layout for smaller screens */
    padding: 1rem;
  }
  .details-container .details-main .reviews p {
    font-size: 1.5rem;
  }
  .details-container .details-main .reviews .review-card .top .left .image img {
    width: 30px;
    height: 30px;
  }
  .details-container .details-main .reviews .review-card .top .right i {
    font-size: 0.8rem;
  }
  .details-container .details-main .reviews .review-card .bottom p {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=details.component.css.map */